// Partial for the Nav Bar

.navbar {
  background-image: linear-gradient(#2E8B57FF, #2E8B57FF, #2E8B57FF, #2E8B5700);
  padding-left: 2em;
  padding-right: 2em;
  height: 50px;
}

.navbar-list {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 75%;
  margin: 0;
  padding: 0;

  list-style: none;

  .navbar-item
  {
  	a
  	{
  		text-decoration: none;
  		color: #F8F8FF;
  		font-variant: small-caps;
  	}
  }
}
