// Import partials
@import 'index';
@import 'navbar';

@import url('https://fonts.googleapis.com/css?family=Basic|Dosis');

// Global styling

body {
  font-family: 'Basic', 'Dosis', sans-serif;
  background-color: #F0FFF0;
  margin: 0;
}

.main-content {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 0 24px;
}
